@{
    ViewData["Title"] = "Home Page";
}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenido a <span>Mi Municipalidad Arequipa</span></h2>
          <p class="animate__animated fanimate__adeInUp">La siguiente pagina web tiene el objetivo de mostrar informacion relevante de todas las municipalidades de Arequipa</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer mas</a>
        </div>
      </div>

      @* <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div> *@

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Acerca de</h2>
          <p>Nuestro objetivo</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              Bienvenido a "Mi Municipalidad Arequipa", tu portal de referencia para obtener información detallada sobre las municipalidades locales. 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> En nuestra pagina podras encontrar todas las municipalidades de Arequipa.</li>
              <li><i class="ri-check-double-line"></i> Obtén información clave sobre la municipalidad, incluyendo su ubicación, alcalde, la aceptacion de esta municipalidad en la comunidad, etc..</li>
              <li><i class="ri-check-double-line"></i> Mantente actualizado sobre eventos comunitarios, noticias locales y anuncios importantes de tu municipalidad.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Únete a nuestra comunidad y mantente conectado con tu municipalidad. Juntos, podemos construir un entorno más informado y participativo.
            </p>           
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-4" data-aos="zoom-in">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Acceso libre de la informacion</h4>
            </a>
          </li>          
          <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Manejo de proyectos</h4>
            </a>
          </li>
          <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Informacion de alcaldes y aceptacion social</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Navegacion de toda la poblacion y todo dispositivo</h3>
                <p class="fst-italic">
                  Accesible y legible en una variedad de dispositivos, como computadoras de escritorio, tablets y teléfonos móviles.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Navegación Intuitiva</li>
                  <li><i class="ri-check-double-line"></i> Búsqueda Eficiente</li>
                  <li><i class="ri-check-double-line"></i> Enlaces Permanentes</li>
                </ul>
                <p>
                  Informacion para todos los internautas no solo para la region de Arequipa, tambien
                  a nivel nacional, siendo un gran aporte a la sociedad.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-1.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Por que debemos saber en que gasta nuestra municipalidad</h3>
                <p>
                  Manejo de presupuesto para obras publicas en bienestar de los habitantes de cada municipalidad

                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Fecha de inicio.</li>
                  <li><i class="ri-check-double-line"></i> Monto de inversion.</li>
                  <li><i class="ri-check-double-line"></i> Documentos legales.</li>
                </ul>
                <p class="fst-italic">
                  Esta informacion iria de la mano con la informacion de la alcalde, de esta manera saber si su labor
                  es beneficiosa o negativa para la sociedad.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Informacion de Alcaldes</h3>
                <p>
                  Es importante conocer la información sobre nuestros alcaldes por varias razones fundamentales:
                </p>               
                <ul>
                  <li><i class="ri-check-double-line"></i> Transpariencia y rendicion de cuentas.</li>
                  <li><i class="ri-check-double-line"></i> Participacion ciudadana.</li>
                  <li><i class="ri-check-double-line"></i> Conocimiento de recursos locales.</li>
                  <li><i class="ri-check-double-line"></i> Fiscalizacion y control.</li>
                  <li><i class="ri-check-double-line"></i> Comunidad mas informada y empoderada.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-4.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Navega con libertad e informate sobre tu municipalidad</h3>           
          </div>          
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Servicios</h2>
          <p>Servicios disponibles</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left" style="background-color: rgb(118, 233, 126);">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a asp-area="" asp-controller="Municipalidad" asp-action="Index">Municipaldades Disponibles</a></h4>              
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left" style="background-color: rgb(233, 202, 118);">
              <div class="icon"><i class="bi bi-binoculars" style="color: #68d2ff;"></i></div>
              <h4 class="title"><a href="">Obras en proceso de creacion</a></h4>              
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left" style="background-color: rgb(118, 212, 233);">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #ebff68;"></i></div>
              <h4 class="title"><a href="">Aceptacion actual de alcaldes</a></h4>              
            </div>
          </div>     
          
        </div>

      </div>
    </section><!-- End Services Section -->

    
    
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>P.F</h2>
          <p>Preguntas frecuentes</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">¿Que provincias estan disponibles? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Actualmente se manejan un numero limitado de municipalidades, entre ellas Provincias de Camana y Arequipa.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">¿La informacion es confiable? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Los datos son recopilados de paginas del gobierno nacional y paginas oficiales de las mismas municipalidades.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">¿Que significa la aceptacion en las muncipalidades? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Representa la aprobación o validación de la sociedad, de acuerdo a la gestion que realiza la municipalidad.
              </p>
            </div>
          </li>        

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->  
    
  </main><!-- End #main -->



