@model ProyectoFinalProg1.Models.Entidades.Alcalde

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Alcalde</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InicioAlcaldia" class="control-label"></label>
                <input asp-for="InicioAlcaldia" class="form-control" />
                <span asp-validation-for="InicioAlcaldia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aceptacion" class="control-label"></label>
                <input asp-for="Aceptacion" class="form-control" />
                <span asp-validation-for="Aceptacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MunicipalidadId" class="control-label"></label>
                <select asp-for="MunicipalidadId" class="form-control" asp-items="ViewBag.MunicipalidadId"></select>
                <span asp-validation-for="MunicipalidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
